<!DOCTYPE html>
<html>
  <head>
    <title>Dena and Jonny's Wedding</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />`
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body ng-app="app">
    <%= yield %>
  </body>
</html>
